In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.481578  0.443560 -0.635844 -0.807412
2013-01-02  0.447209  0.062952  0.585738  0.652829
2013-01-03 -0.612997 -0.619205 -0.953032 -0.331204
2013-01-04  0.270026 -0.493289 -0.879383 -1.048739
2013-01-05  0.718773 -0.042608  0.401801 -2.013126
2013-01-06  0.268863  0.399998 -0.681848  1.069420